style.
  img {
    max-width: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    width: 100%;
  }
  grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 30px;
  }
  grid-item {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-left: 25px;
  }
  .wrapper {
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    max-width: 75%;
  }